
*{
    margin: 0%;
    padding: 0ch;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
}

.house {
    position: relative;
    width: 708px;
    height: 302px;
    background-color: #e76f51;
}

.door {
    width: 80px;
    height: 130px;
    background-color: rgb(190, 58, 58);
    position: absolute;
    bottom: 0px;
    left: 45%;
    border: 4px solid brown;
    border-bottom: 5px solid black;
}

.key {
    height: 9%;
    width: 17%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 15%;
}


.window-right {
    width: 77px;
    height: 80px; 
    background-color: azure;
    position: absolute;
    top: 20%;
    left: 10%;
}


.window-left {
    width: 77px;
    height: 80px;
    background-color: azure;
    position: absolute;
    top: 20%;
    right: 10%;
}

.row div {
    width: 27px;
    height: 27px;
    border: 1px solid black;
}

.row {
    display: flex;
}


.roof {
    width: 56%;
    height: 40%;
    background-color: brown;
    position: absolute;
    bottom: 50%;
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
}

.toon {
    width: 45px;
    height: 70px;
    background-color: gray;
    position: absolute;
    left: 57%;
    bottom: 74%;
}

.toon-1 {
    width: 70px;
    height: 13px;
    background-color: rgb(155, 151, 151);
    position: absolute;
    left: 56%;
    bottom: 85%;  
}